.my-navbar {
    background-color: #fff;
    padding-top: 0;
    padding-bottom: 0;
}

.my-navbar .container-fluid {
    display: flex;
    align-items: center;
}

.my-navbar .logo_img {
    width: 250px;
    height: auto;
}

.my-navbar .nav_img-icon {
    width: 20px;
    height: 20px;
}

.my-navbar .navbar-nav {
    display: flex;
    justify-content: end;
    flex-direction: row;
    gap: 1rem;
    margin-right: 1rem;
}

.my-navbar .navbar-nav .nav-item .modal-body.modal-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}

.my-navbar .navbar-nav .nav-item .modal-body.modal-grid>a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    border-radius: 1rem;
    transition: all 0.2s ease-in-out;
    text-align: center;
    color: black;
    text-decoration: none;
}

.my-navbar .navbar-nav .nav-item .modal-body.modal-grid>a:hover {
    background-color: rgba(55, 106, 150, 0.3058823529);
    cursor: pointer;
}

.my-navbar .modal-body.modal-grid>div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    border-radius: 1rem;
    transition: all 0.2s ease-in-out;
    text-align: center;
}

.my-navbar .modal-body.modal-grid>div:hover {
    background-color: rgba(55, 106, 150, 0.3);
    cursor: pointer;
}

.my-navbar .navbar-nav .nav-item .modal-body.modal-grid>a .fi {
    margin-right: 10px;
}

.my-navbar .btn {
    padding: 0.375rem 1rem;
    min-width: 80px;
    transition: all 0.3s ease-in-out;
    border-radius: 1rem;
}

.my-navbar .btn:hover {
    background-color: white;
    color: #376996;
}

.my-navbar .btn-primary {
    background-color: #376996;
    border: 1px solid #376996;
}

.my-navbar .btn-outline-primary {
    transition: all 0.1s ease-in-out;
    border: 1px solid #376996;
    color: #376996;
}

.my-navbar .btn-outline-primary:hover {
    background-color: transparent;
    color: #376996;
    border: 2px solid #376996;
}

/* 自訂下拉選單的外觀 */
.user-dropdown {
    background-color: #ffffff;
    border-radius: 8px;
    min-width: 80px;
    padding: 0;
}

/* 調整下拉選單內每個選項的樣式 */
.user-dropdown .dropdown-item {
    padding: 10px;
    font-size: 15px;
    color: #333;
}

.user-dropdown li:first-child .dropdown-item {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.user-dropdown li:last-child .dropdown-item {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: none;
}

.user-dropdown li a {
    border-bottom: 1px solid #e0e0e0;
}

.dropdown-menu {
    position: absolute !important;
    z-index: 1050; /* 比 navbar 高即可 */
}

.dropdown {
    position: relative;
}


.user-dropdown .dropdown-item:hover {
    background-color: #376996;
    color: #fff;
}


/* banner */

.hero-banner {
    position: relative;
    height: 60vh;
    overflow: hidden;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

/* 小螢幕下高度縮小 */
@media (max-width: 576px) {
    .hero-banner {
        height: 40vh;
    }
}

.hero-content {
    color: white;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}


/* 搜尋列 */

.search-bar {
    background: #1f487e;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    /* 滿版的話也要關掉這個 */
    padding: 1rem;
    margin-top: -2rem;

}

/* 自訂 col-md-3.5 */
@media (min-width: 768px) {
    .col-md-3-5 {
        flex: 0 0 calc(100% * 3.5 / 12);
        max-width: calc(100% * 3.5 / 12);
    }

    .col-md-1-5 {
        flex: 0 0 calc(100% * 1.5 / 12);
        max-width: calc(100% * 1.5 / 12);
    }
}

.search-bar input {
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
}

.search-bar input:focus {
    border-color: #376996;
    outline: none;
    box-shadow: 0 0 8px rgba(55, 105, 150, 0.4);
}

.search-bar button {
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.search-bar #search-btn {
    background-color: #1a81ff;
    color: #fff;
}

.search-bar #search-btn:hover {
    background-color: #569ff7;
}

.input-group-text {
    background-color: #fff;
    border: 1px solid #ccc;
    border-right: none;
}

#guest-btn {
    white-space: nowrap;
    cursor: pointer;
}

/* popup 視窗 */
#guest-popup {
    position: absolute;
    left: 48px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    padding: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    width: 85%;
    z-index: 1000;
    display: none;
}

#guest-popup .guest-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.75rem;
}

#guest-popup .guest-row:last-child {
    margin-bottom: 0;
}

#guest-popup .guest-label {
    font-weight: 600;
    color: #333;
}

#guest-popup .qty-control {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#guest-popup button.qty-btn {
    border: 1px solid #ccc;
    background: #f8f9fa;
    width: 28px;
    height: 28px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
}

#guest-popup span.count {
    min-width: 20px;
    text-align: center;
    font-weight: 600;
    user-select: none;
    display: inline-block;
}

.suggestion-list {
    position: absolute;
    z-index: 1050;
    top: 100%;
    left: 41px;
    width: 89%;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 0.25rem;
    max-height: 250px;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    list-style: none;
    display: none;

}

.suggestion-list li {
    padding: 0.5rem;
    cursor: pointer;

}

.suggestion-list li:hover {
    background-color: #f1f1f1;
}

/* 搜尋紀錄 */

.search-history {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2.5rem;
    border-radius: 0.5rem;
    display: none;

}

.search-history img {
    width: 64px;
    height: 64px;
    border-radius: 0.5rem;
    margin-right: 10px;
    flex-shrink: 0;
}

.history-card {
    background-color: #fff;
    display: flex;
    align-items: center;
    border: 1px solid #f1f1f1;
    border-radius: 0.5rem;
    padding: 0.5rem;
    min-width: 250px;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    font-size: 0.9rem;
    min-width: 250px;
}

.history-content {
    flex: 1;
}


/* 熱門城市、精選飯店區塊 */

.city,
.recommendations {
    position: relative;
    background-color: #FEFCF0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.history-carousel,
.city-carousel,
.recommendation-carousel {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    gap: 1rem;
    padding-bottom: 1rem;
}

.city-card .card {
    width: 18rem;
}


/* 熱門城市、精選飯店卡片的照片大小 */
.city .card img,
.recommendations .card img {
    width: 100%;
    height: 180px;
    object-fit: cover;

}

.recommendations .card {
    flex: 0 0 250px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    height: 400px;
    overflow: hidden;
    /* 隱藏所有滾動條 */

}

.rate {
    background-color: #1F487E;
}


.heart-btn {
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {

    .recommendations .card {
        flex: 0 0 150px;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        height: 250px;
    }

    .history-card {
        background-color: #fff;
        display: flex;
        align-items: center;
        border: 1px solid #f1f1f1;
        border-radius: 0.5rem;
        padding: 0.5rem;
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
        transition: transform 0.2s;
        font-size: 0.8rem;
        min-width: 200px;
    }

    .city-card .card {
        width: 9.4rem;
    }

    .city .card img,
    .recommendations .card img {
        width: 100%;
        /* 填滿卡片寬度 */
        height: 115px;
        /* 你可以調整這個數字，例如 200px */
        object-fit: cover;

    }

    .heart-btn {
        width: 30px;
        height: 30px;
        font-size: 1rem;
    }

    .card h5 {
        font-size: 1rem;
    }

    .card p {
        font-size: 0.8rem;
    }

    .recommendations .card-body {
        padding: 0.5rem
    }
}

.scroll-btn {
    color: #376996;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    font-size: 1.5rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
}

/* 頁尾 */
footer {
    background-color: #376996;
}

footer h5 {
    font-weight: bold;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.social-icons a {
    font-size: 1.5rem;
    color: white;
    transition: color 0.2s;
}

.social-icons a:hover {
    color: #fcfef0;
}