.my-navbar {
    background-color: #fff;
    padding-top: 0;
    padding-bottom: 0;
}

.my-navbar .container-fluid {
    display: flex;
    align-items: center;
}

.my-navbar .logo_img {
    width: 250px;
    height: auto;
}

.my-navbar .nav_img-icon {
    width: 20px;
    height: 20px;
}

.my-navbar .navbar-nav {
    display: flex;
    justify-content: end;
    flex-direction: row;
    gap: 1rem;
    margin-right: 1rem;
}

.my-navbar .navbar-nav .nav-item .modal-body.modal-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}

.my-navbar .navbar-nav .nav-item .modal-body.modal-grid>a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    border-radius: 1rem;
    transition: all 0.2s ease-in-out;
    text-align: center;
    color: black;
    text-decoration: none;
}

.my-navbar .navbar-nav .nav-item .modal-body.modal-grid>a:hover {
    background-color: rgba(55, 106, 150, 0.3058823529);
    cursor: pointer;
}

.my-navbar .modal-body.modal-grid>div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    border-radius: 1rem;
    transition: all 0.2s ease-in-out;
    text-align: center;
}

.my-navbar .modal-body.modal-grid>div:hover {
    background-color: rgba(55, 106, 150, 0.3);
    cursor: pointer;
}

.my-navbar .navbar-nav .nav-item .modal-body.modal-grid>a .fi {
    margin-right: 10px;
}

.my-navbar .btn {
    padding: 0.375rem 1rem;
    min-width: 80px;
    transition: all 0.3s ease-in-out;
    border-radius: 1rem;
}

.my-navbar .btn:hover {
    background-color: white;
    color: #376996;
}

.my-navbar .btn-primary {
    background-color: #376996;
    border: 1px solid #376996;
}

.my-navbar .btn-outline-primary {
    transition: all 0.1s ease-in-out;
    border: 1px solid #376996;
    color: #376996;
}

.my-navbar .btn-outline-primary:hover {
    background-color: transparent;
    color: #376996;
    border: 2px solid #376996;
}

/* 登入 */
.container.login {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;

}

.register,
.login-email,
.login-passwd,
.forgot-passwd,
.change-passwd {
    width: 100%;
    max-width: 445px;
    box-sizing: border-box
}

h4 {
    font-weight: bold;
}


/* 電子信箱輸入框 */
.register input,
.login-email input,
.login-passwd input,
.forgot-passwd input,
.change-passwd input {
    width: 100%;
    border-radius: 0.25rem;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 0.3rem;

}

.register input:focus,
.login-email input:focus,
.login-passwd input:focus,
.forgot-passwd input:focus,
.change-passwd input:focus {
    border-color: #1a81ff;
    outline: none;
    box-shadow: 0 0 0 2px #1a81ff;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;

}

/* 繼續按鈕、驗證電子信箱按鈕樣式 */
.register button,
.login-email button,
.login-passwd button,
.forgot-passwd button,
.change-passwd button,
.otp-container+button {
    width: 100%;
    background-color: #1a81ff;
    color: #fff;
}

.register button:hover,
.login-email button:hover,
.login-passwd button:hover,
.forgot-passwd button:hover,
.change-passwd button:hover,
.otp-container+button:hover {
    background-color: #569ff7;
    color: #fff;
}

/* 使用驗證碼登入按鈕 */
.register .secondaryBtn,
.forgot-passwd .secondaryBtn,
.login-passwd .secondaryBtn{
    width: 100%;
    background-color: #fff;
    color: #1a81ff;
    border-color: #1a81ff;
}

.register .secondaryBtn:hover,
.forgot-passwd .secondaryBtn:hover,
.login-passwd .secondaryBtn:hover {
    background-color: #fff;
    color: #1a81ff;
    border-color: #1a81ff;
    box-shadow: 0 0 0px 2px #1a81ff
}

/* 重新發送、使用密碼按鈕樣式 */
/* .verifiy-options button {
    background-color: transparent;
    font-weight: bold;
    color: black;
    border: 0;
}

.verifiy-options button:hover {
    background-color: transparent;
    color: #1a81ff;
    border: 0;
}

.verifiy-options a {
    text-decoration: none;
    color: black;
}

.verifiy-options a:hover {
    text-decoration: none;
    color: #1a81ff;
} */



/* 或 */
.hr-with-text {
    position: relative;
    text-align: center;
    margin: 20px 0;
}

.hr-with-text::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-top: 1px solid #CCCCCC;
    z-index: -1;
}

.hr-with-text span {
    background-color: white;
    padding: 0 10px;
    position: relative;
    z-index: 1;
}

/* 忘記密碼靠右對齊 */
.forgot-passwd-link {
    text-align: right;
}

/* google & fb 的 svg 樣式 */
/* .social-icon {
    display: flex;
    justify-content: center;
    gap: 10px;

} */
.S9gUrf-YoZ4jf div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.facebook-icon {
    width: 23px;
    float: left;
}
 
.social-icon .facebookSignIn {
    width: 400px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    background-color: transparent;
    color: black;
    font-size: 14.25px;
    font-weight: 550;
    padding: 9px;
}

.social-icon .facebookSignIn:hover {
    background-color: #F0F5FE;
    color: black;
}


.terms a,
.forgot-passwd-link a {
    text-decoration: none;
}

.terms a:hover,
.forgot-passwd-link a:hover {
    text-decoration: underline;
}