@use "../abstract/custom-variables" as v;

footer {
  background-color: v.$primary;
  h5 {
    font-weight: bold;
  }
  a {
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
.social-icons {
  a {
    font-size: 1.5rem;
    color: white;
    transition: color 0.2s;
    &:hover {
      color: #fcfef0;
    }
  }
}
