@use "../abstract/custom-variables" as v;
@use "../bootstrap/bootstrap" as bs;

.my-navbar {
  background-color: #fff;
  padding-top: 0;
  padding-bottom: 0;

  .container-fluid {
    display: flex;
    align-items: center;
  }
  .logo_img {
    width: v.$logo-width;
    height: v.$logo-height;
  }
  .nav_img-icon {
    width: 20px;
    height: 20px;
  }

  .navbar-nav {
    display: flex;
    justify-content: end;
    flex-direction: row;
    gap: map-get(bs.$spacers, 2);
    margin-right: 1rem;

    .nav-item {
      .modal-dialog {
        .modal-grid {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 3rem;
          div {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 200px;
            height: 50px;
            border-radius: 1rem;
            transition: all 0.2s ease-in-out;
            text-align: center;
            &:hover {
              background-color: #376a964e;
              cursor: pointer;
            }
            a {
              // width: 200px;
              color: black;
              text-decoration: none;
            }
            .fi {
              margin-right: 10px;
            }
          }
        }
      }

      //登入按鈕下拉選單
      .user-dropdown {
        background-color: #ffffff;
        border-radius: 8px;
        min-width: 80px;
        padding: 0;
        .dropdown-item {
          padding: 10px;
          font-size: 15px;
          color: #333;
        }
      }

      .user-dropdown li:first-child .dropdown-item {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }

      .user-dropdown li:last-child .dropdown-item {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        border: none;
      }

      .user-dropdown li a {
        border-bottom: 1px solid #e0e0e0;
      }

      .dropdown-menu {
        position: absolute !important;
        z-index: 1050; /* 比 navbar 高即可 */
      }

      .dropdown {
        position: relative;
      }

      .user-dropdown .dropdown-item:hover {
        background-color: #376996;
        color: #fff;
      }
    }
  }

  .btn {
    padding: bs.$spacer * 0.375 bs.$spacer;
    min-width: 80px;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: white;
      color: v.$primary;
    }
  }
  // .navbar-toggler {
  //   outline: none;
  //   box-shadow: none;
  //   transition: all 0.2s ease-in;
  //   &:hover {
  //     border: 2px solid v.$primary;
  //   }

  //   &:active {
  //     outline: none;
  //     box-shadow: none;
  //   }
  // }
  .btn-outline-primary {
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: transparent;
      color: v.$primary;
      border: 2px solid v.$primary;
    }
  }
}
