@use "../abstract/custom-variables" as v;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.order-detail-panel {
  //   padding: 1rem;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 32px;
  .btn-outline-secondary {
    margin-bottom: 1rem;
  }
  .order-header {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 20px;
    // margin-bottom: 10px;
    margin: 0 auto 0.8rem auto;
    .left-section {
      flex: 2;

      h2 {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 12px;
      }

      .stars {
        margin-bottom: 12px;
      }

      .dates {
        display: flex;
        justify-content: flex-start;
        gap: 40px;
        margin-bottom: 12px;

        .checkin,
        .checkout {
          span:first-child {
            font-size: 14px;
            color: #555;
          }

          span:last-child {
            font-size: 16px;
            font-weight: bold;
          }
        }
      }

      .roomtype {
        font-size: 14px;
        color: #444;
        margin-bottom: 8px;
        line-height: 1.4;
      }
      .room-address {
        font-size: 14px;
        color: #444;
        margin-bottom: 8px;
        line-height: 1.4;
      }

      .contact {
        font-size: 14px;
        margin: 12px 0;
      }
    }
    .right-section {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      font-size: 14px;
      gap: 8px;
      background-color: #376a96;
      border-radius: v.$border-radius;
      padding: 10px;
      p {
        color: white;
        margin-bottom: 10px;
      }
      a {
        text-decoration: none;
        color: white;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
          // color: v.$secondary;
        }
      }
    }
  }

  .payment-info {
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 20px;
    margin: 0 auto;
    h3 {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 16px;
    }

    .line-item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
      font-size: 14px;
      max-width: 750px;
      // padding-right: 10rem;
    }

    .total {
      font-weight: bold;
      font-size: 18px;
      margin-top: 12px;
      display: flex;
      justify-content: space-between;
      max-width: 750px;
      // padding-right: 10rem;
    }

    .card_info {
      margin-top: 16px;
      font-size: 14px;

      .card-type,
      .card-mask {
        margin-top: 4px;
      }
    }
  }
}
// modal視窗
.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
input.choose-date {
  border-radius: 1rem;
  width: 300px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
  text-align: center;
  &:focus {
    border-color: #376996;
    outline: none;
    box-shadow: 0 0 8px rgba(55, 105, 150, 0.4);
  }
}

.cancel-modal {
  background: white;
  padding: 24px;
  border-radius: 12px;
  width: 500px;
  position: relative;

  select {
    width: 100%;
    padding: 8px;
    margin: 16px 0;
  }

  .modal-actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 16px;
    .btn {
      width: 100px;
    }
  }

  .close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
  }
}
.changedate-modal {
  background: white;
  padding: 24px;
  border-radius: 12px;
  width: 500px;
  position: relative;
  h2 {
    margin-bottom: 1rem;
  }
  .date {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
  }

  .checkinDate {
    display: flex;
    flex-direction: column;
  }
  .checkoutDate {
    display: flex;
    flex-direction: column;
  }
  .modal-actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 16px;
    .btn {
      width: 100px;
    }
  }

  .close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
  }
}
