.my-navbar {
    background-color: #fff;
    padding-top: 0;
    padding-bottom: 0;
}

.my-navbar .container-fluid {
    display: flex;
    align-items: center;
}

.my-navbar .logo_img {
    width: 250px;
    height: auto;
}

.my-navbar .nav_img-icon {
    width: 20px;
    height: 20px;
}

.my-navbar .navbar-nav {
    display: flex;
    justify-content: end;
    flex-direction: row;
    gap: 1rem;
    margin-right: 1rem;
}

.my-navbar .navbar-nav .nav-item .modal-body.modal-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}

.my-navbar .navbar-nav .nav-item .modal-body.modal-grid>a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    border-radius: 1rem;
    transition: all 0.2s ease-in-out;
    text-align: center;
    color: black;
    text-decoration: none;
}

.my-navbar .navbar-nav .nav-item .modal-body.modal-grid>a:hover {
    background-color: rgba(55, 106, 150, 0.3058823529);
    cursor: pointer;
}

.my-navbar .modal-body.modal-grid>div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    border-radius: 1rem;
    transition: all 0.2s ease-in-out;
    text-align: center;
}

.my-navbar .modal-body.modal-grid>div:hover {
    background-color: rgba(55, 106, 150, 0.3);
    cursor: pointer;
}

.my-navbar .navbar-nav .nav-item .modal-body.modal-grid>a .fi {
    margin-right: 10px;
}

.my-navbar .btn {
    padding: 0.375rem 1rem;
    min-width: 80px;
    transition: all 0.3s ease-in-out;
    border-radius: 1rem;
}

.my-navbar .btn:hover {
    background-color: white;
    color: #376996;
}

.my-navbar .btn-primary {
    background-color: #376996;
    border: 1px solid #376996;
}

.my-navbar .btn-outline-primary {
    transition: all 0.1s ease-in-out;
    border: 1px solid #376996;
    color: #376996;
}

.my-navbar .btn-outline-primary:hover {
    background-color: transparent;
    color: #376996;
    border: 2px solid #376996;
}